<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1>Edit your chat</h1>

    <form method="POST" action="/chats/edit/<%= chat._id %>?_method=PUT" >
        <textarea name="msg" cols="30" rows="5"><%= chat.msg %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>